.dialogs {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
}

.dialogsItems {
    padding: 10px;
}

.dialog a {
    text-decoration: none;
     color: rgb(82, 82, 82)
}

.dialogsItems .active {
    color: red;
}


.messages {
    padding: 10px;
}


